<%- include('head.ejs', {cssFile: 'create-edit-post.css'}) %>
<body>
    <%- include('header.ejs') %>
    <main>
        <div class="main-div">
            <h1 class="title">Edit post however you like!</h1>
        </div>
        <form action="/edit-post/<%= index %>" method="POST" class="form">
            <label for="title">New Title</label>
            <input class="post-title" type="text" name="new-title" value="<%= title %>">
            <label for="content">New Content</label>
            <textarea name="new-content" id="content" class="content"><%= content %></textarea>
            <input type="submit" name="submit-btn" value="Edit">
        </form>
    </main>
</body>
</html>