<%- include('head.ejs') %>
<body>
    <a href="/">Home</a>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <a href="/edit-post/<%= index %>">Edit</a>
    <a href="/delete-post/<%= index %>">Delete</a>
</body>
</html>